Import Library

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

Memuat Data

In [2]:
data = pd.read_excel("DataPenjualan.xlsx")
data.head()

  Invoice StockCode  ... Customer ID         Country
0  536365    85123A  ...     17850.0  United Kingdom
1  536365     71053  ...     17850.0  United Kingdom
2  536365    84406B  ...     17850.0  United Kingdom
3  536365    84029G  ...     17850.0  United Kingdom
4  536365    84029E  ...     17850.0  United Kingdom

[5 rows x 8 columns]

Mengeksplor kolom

In [3]:
data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

mengeksplor wilayah

In [4]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

Menghapus spasi, baris tanpa nomor faktur dan menghapus transaksi kredit

In [7]:
data['Description'] = data['Description'].str.strip()

data.dropna(axis = 0, subset = ['Invoice'], inplace = True)
data['Invoice'] = data['Invoice'].astype('str')

data = data[~data['Invoice'].str.contains('C')]

Memisahkan data sesuai wilayah

In [ ]:
# prancis
basket_France = (data[data['Country'] == 'France'].groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('Invoice'))

# UK
basket_UK = (data[data['Country'] == 'United Kingdom'].groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('Invoice'))

# Italy
basket_Italy = (data[data['Country'] == 'Italy'].groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('Invoice'))

# Japan
basket_Japan = (data[data['Country'] == 'Japan'].groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('Invoice'))

basket_Japan

Melakukan Encoding (karena hanya butuh dalam bilangan binner)

In [12]:
def hot_encode(x):
  if(x<=0):
    return 0
  if(x>=1):
    return 1

Encoding berdasar wilayah

In [ ]:
basket_encoded = basket_France.applymap(hot_encode)
basket_France = basket_encoded

basket_encoded = basket_UK.applymap(hot_encode)
basket_UK = basket_encoded

basket_encoded = basket_Italy.applymap(hot_encode)
basket_Italy = basket_encoded

basket_encoded = basket_Japan.applymap(hot_encode)
basket_Japan = basket_encoded

basket_Japan

Membangun Model dan Analisis

In [ ]:
# France
# Model
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)

# Rules
rules = association_rules(frq_items, metric = "lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules.head()

In [25]:
# UK
# Model
frq_items = apriori(basket_UK, min_support = 0.01, use_colnames = True)

# Rules
rules = association_rules(frq_items, metric = "lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules.head()

                                       antecedents  ... conviction
117           (BEADED CRYSTAL HEART PINK ON STICK)  ...  39.637371
2019  (JAM MAKING SET PRINTED, SUKI  SHOULDER BAG)  ...  26.096206
2294         (HERB MARKER THYME, HERB MARKER MINT)  ...  21.947227
2302   (HERB MARKER PARSLEY, HERB MARKER ROSEMARY)  ...  20.444951
2300      (HERB MARKER THYME, HERB MARKER PARSLEY)  ...  20.443842

[5 rows x 9 columns]

In [ ]:
# Japan
# Model
frq_items = apriori(basket_Japan, min_support = 0.01, use_colnames = True)

# Rules
rules = association_rules(frq_items, metric = "lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules.head()

In [ ]:
# Italy
# Model
frq_items = apriori(basket_Italy, min_support = 0.05, use_colnames = True)

# Rules
rules = association_rules(frq_items, metric = "lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules.head()